@import '@a-ui/core/src/styles/quarks';

.mobile {
	.m-overlay__inner {
		min-height: calc(100vh);
	}

	table {
			table-layout: fixed;

			th:nth-of-type(4) {
				width: 40%;
			}

			td {
        word-break: break-all;
        hyphens: auto;
			}
	}
}

.a-button.a-button--tiny {
	font-size: $btn-font-size;
}

.accept-all-cookies-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.accepted {
	display: none;
}

.modal-xxl {
	width: 37.5rem !important;
}

.category-item {
	.category-item-nav {
		padding: 0.625rem 0.25rem 0.625rem 0.25rem;
		background-color: $grey-lighter;
		cursor: pointer;
  }

	.category-item-name {
		button {
			font-family: "Antwerpen Regular";
			line-height: 1.1;
			font-size: 1.2rem;
			font-weight: 500;
			text-decoration: none;
   		margin: 0;
			color: #081f2c;

			.fa {
				font-size: 1.5rem;
				padding-right: 1.125rem;
				display: inline;
			}
		}
  }

	.category-item-description {
		transition:	max-height $animation-duration $animation-easing;
		max-height: 0;
    overflow: hidden;

		td {
			vertical-align: top;
			font-size: .9rem;
			display: table-cell;
			line-height: 1.1rem;
    }

		tr {
			td:nth-of-type(1) {
				width: 15%;
			}
			td:nth-of-type(2) {
				width: 10%;
			}
			td:nth-of-type(3) {
				width: 10%;
			}
			td:nth-of-type(4) {
				width: 65%;
			}
    }

		.sub-cookies {
			border: none;
      border-collapse: collapse;

			tr {
				height: 1.75rem;
        border-bottom: 1px solid $grey-light;

				td {
					padding: 0;
					line-height: 1.5rem;
				}
			}
		}
  }

	.category-item-description.open {
		max-height: 500rem;
	}
}

.a-switch {
  justify-content: space-between;

	.a-switch__label {
		flex: auto;
	}
}
@include at($screen-sm) {
  .m-modal {
		margin-top: 50%;
	}
}


// Flexboxgrid classes
.row {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -0.5rem;
	margin-left: -0.5rem;
}

.col-xs-12,
.col-xs-6,
.col-md-8,
.col-md-4 {
	box-sizing: border-box;
	flex: 0 0 auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.col-xs-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.col-xs-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.col-md-8 {
	flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-md-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
