@import '@a-ui/core/src/styles/quarks';
@import '@a-ui/flexboxgrid/dist/flexboxgrid';

:host {
  display: block;
  width: 100%;
}

.hidden {
	display: none;
}

.content-blocker {
	border: 1px solid $border-color;

  .ai {
		font-size: 2.5rem;
	}
}
